* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* BACKROUND */
body {
    background: url("../img/bac.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}
/* -------------------------------- */

.wrapper {
    width: 1024px;
    height: 1300px;  
    background-color: white;
    margin: 220px auto 240px auto;
    padding: 55px 62px 0px 62px;
   }
   
.iner {
    width: 904px;
    height: auto;
    margin: 60px 0px 0px 0px;
    border-bottom: 1px solid #dedbdb;

}

.decs {
    border: 0;
}

.heading, .title {
    text-transform: uppercase;
    font-family: 'Pathway Gothic One';
    color: #263555;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 48px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #4e5050;
}

.content {
    display: inline-block;
    width: 641px;
    float: left;
    margin-right: 51px;
    height: auto;
}

.imeg {
    width: 360px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 22px;
    margin-bottom: 20px;
    float: left;
}

h4 {
    margin: 0px;
    color: #263555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: normal;
    margin-bottom: 18px;
}

.aside {
    width: 210px;
    display: inline-block;
    }



.list {
    counter-reset: li; 
    list-style: none; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
    }

    .list p {
    display: inline-block;
    margin-left: 38px;
    margin-bottom: 33px;
    color: #4e5050;
    text-decoration: none;
    }

    .list h4 {
    display: block;
    margin-left: 38px;
    margin-bottom: 0px;
    }

    .list li::before {
        content: counter(li);
        height: 28px;
        width: 28px;
        border-radius: 14px;
        outline: 1px;
        outline-color: #5099ba;
        counter-increment: li;
        font-size: 13px;
        line-height: 28px;
        text-align: center;
        float: left;
        background-color: #38afe5;
        color: #fff;
    }

    .items li {
        margin:     0px;
        display: inline-block;
        width: 49%;
        vertical-align: top;
        color: #263555;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin-top: 26px;
    }
    .items li::before {
        content: '\2192' ;
        color: #38afe5;
        margin-right: 14px;

    }
    .box {
        display: inline-block;
    
    }

    .quote {
        width: 210px;
        border: 1px solid #b6b6b6;
        padding: 22px;
        color: #263555;
        background-color: #fcfafa;
        font-size: 15px;
    }

    .quote::before {
        content: '\201C' ;
        padding: 5px;
    }

    .quote::after {
        content: '\201D' ;
        padding: 5px;
    }

    .sign {
        margin-top: 33px;
        font-size: 16px;
        color: #263555;
        text-align: center;
        margin-bottom: 22px;
    }

    .sign p {
        font-size: 13px;
    }
